.container{
    width: 350px;
    height: 350px;
    margin: 50px;
      background-color: rgb(33, 233, 33);
      align-items: center;
      margin-left: 300px;
      border-radius: 10px;
  }
  
  .field{
  
     display: flex;
     justify-content: space-around;
     align-items: center;
  text-align: left;
  margin: 20px;
  margin-top: 30px;
  }
  
.label{
   margin-left: 0px;
   font-weight: 600;

}
  
  h1{
      text-align: center;
    padding-top: 20px;
  }
  
  .loginbutton button{
      display: flex;
      justify-content: center;
      align-items: center;
    margin-left: 140px;
      width: 100px;
      height: 40px;
      border: none;
   
     
      font-weight: 800;
      margin-top: 50px;
  }
  
  .btn2{
  border-radius: 10px;
  box-shadow: 2px 2px 2px 2px greenyellow;
      display: flex;
      justify-content: center;
      align-items: center;
      margin-left: 50px;
    
  background-color: rgb(253, 194, 0);
  }

.emailinput {
  border: none;
  margin-left: 30px;
  
}

.emailinput input{
  height: 20px;
}

.passwordinput {
  border: none;
  margin-left: 0px;
  
}

.passwordinput input{
  height: 20px;
}

  /*.......................navbar start here.................................*/
  
  .navbar{
    width: 220px;
    height: 100%;
    background-color: rgb(233, 146, 31);
    display: flex;
    flex-direction: column;
    margin: 20px;
  }

  .logo{
display: flex;
justify-content: center;
align-items: center;
margin-top: 30px;
  }

  .image{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: aqua;
    padding: 10px;
    margin: 10px;
  }

  .image img{
    width: 35px;
    height: 35px;
  }

 .menubar{
    margin: 10px;
    padding: 10px;
    font-weight: 600;
 }

 button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 40px;
    border: none;

   margin-top: 50px;
    font-weight: 800;
   margin: 0px;

}

.btn1{

    display: flex;
    justify-content: center;
    align-items: center;
    background-color: blueviolet;
    margin-top: 150px;
   color: brown;
}

hr{
  width: 100%;
}

Link{
  border: none;
  text-decoration: none;
  
}